@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "IBMPlexSans", sans-serif;
  padding: 0 48px;
  background-image: url("assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1500px) {
  /* body {
    
  } */
}

@media (max-width: 1100px) {
  body {
    background-image: url("assets/bg-main-tablet.png");
  }
}

@media (max-width: 550px) {
  body {
    background-image: url("assets/bg-main-mobile.png");
  }
}
