@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url(/fonts/IBMPlexSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fcfaf9;
  --dark: #191826;
  --orange: #fa7453;
  --yellow: #feb964;
  --blue-sky: #66e2dc;
  --border: 12px;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "IBMPlexSans", sans-serif;
  padding: 0 144px;
  background-image: url("assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.bg-pattern-1 {
  height: 320px;

  position: absolute;
  top: 0;
  right: 0;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
}

.main-text {
  max-width: 750px;
  padding: 48px;
  padding-right: 32px;
  padding-left: 0;
}

.main-header {
  font-size: 6.4rem;
  line-height: 1;
  margin-bottom: 32px;
}

.main-content {
  font-size: 2.4rem;
}

.feature {
  display: flex;
  justify-content: end;
  border-radius: var(--border);
  margin-top: 296px;
  margin-bottom: 96px;
  padding: 96px;

  background-color: var(--dark);
  background-image: url("assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: 45% top;
  background-size: 30%;

  position: relative;
}

.feature-img {
  height: 100%;
  max-height: 642px;
  min-height: 430px;
  position: absolute;
  top: -35%;
  left: 10%;
}

.card {
  width: 445px;
  color: #fcfaf9;
  background-color: #fa7453;
  border: 12px;
  border-radius: var(--border);
  padding: 48px 32px;
  margin-bottom: -96px;
  transform: translateY(17%);
}

.card-header {
  margin-top: 10px;
  font-size: 4.8rem;
}

.card-content {
  font-size: 2.4rem;
}

.card-price {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.price {
  font-size: 6.4rem;
  font-weight: 700;
  margin-right: 16px;
}

.card-btns {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-radius: var(--border);
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-logo {
  margin-right: 8px;
}

.btn-ios {
  background-color: var(--dark);
  color: var(--white);
}

.btn-ios:hover {
  background-color: var(--blue-sky);
}

.btn-ios img {
  transform: translateY(-1.5px);
}

.btn-android {
  background-color: var(--white);
  color: var(--dark);
}

.btn-android:hover {
  background-color: var(--yellow);
}

.footer {
  font-size: 1.6rem;
  display: flex;
  padding: 96px 0;
}

.footer-logo {
  margin-right: 128px;
}

.footer-contacts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  max-width: 350px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.svg-icon:hover > svg path {
  cursor: pointer;
  fill: var(--orange);
}

@media (max-width: 1100px) {
  html {
    font-size: 8px;
  }

  body {
    padding: 0 48px;
    background-image: url("assets/bg-main-tablet.png");
  }

  .bg-pattern-1 {
    height: 280px;
  }

  .main-text {
    max-width: calc(100% - 190px);
    min-width: 500px;
  }

  .feature {
    padding: 48px;
    margin-top: 248px;
  }

  .card {
    width: 400px;
    transform: translateY(10%);
  }

  .footer {
    flex-wrap: wrap;
    gap: 32px;
  }

  .footer-logo {
    margin-right: 0;
    flex-basis: 100%;
  }
}

@media (max-width: 550px) {
  body {
    background-image: url("assets/bg-main-mobile.png");
  }

  .bg-pattern-1 {
    display: none;
  }

  .main-text {
    min-width: revert;
    max-width: revert;
  }

  .card {
    width: 100%;
  }

  .feature {
    width: 100vw;
    margin-left: -48px;
    padding: 0;
    margin-top: 336px;
    background-size: 90%;
    background-position: center top;
  }

  .feature-img {
    margin: revert;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    margin-bottom: 290px;
    transform: translateY(80%);
  }
}
